<section class="welcome-section">
 <h2>Welcome to The Inner Circle 
  <%= currentUser ? currentUser.first_name : "" %>
</h2>

  <% if (!currentUser) { %>
    <p class="intro-text">
      To unlock our <strong>exclusive community</strong>, please
      <a href="/sign-up" class="link">sign up</a> or
      <a href="/log-in" class="link">log in</a>.
    </p>
    <p class="why-join">
      Joining gives you access to member-only messages, secret discussions, and the chance to be part of something special.
    </p>
  <% } else { %>
    <p class="intro-text">
      Glad to have you inside, <strong><%= currentUser.first_name || currentUser.username %></strong> <% if (currentUser && currentUser.is_admin) { %>
  <p>🛡️ You are an Admin!</p>
<% } %>!
    </p>
    <p class="member-message">
      Feel free to explore, create new messages, and connect with other member of the Inner Circle.
    </p>
     <% if (!currentUser.is_member) { %>
  <p>Become a <a href="/membership">member</a></p>
    <% } %>

      <% if (!currentUser.is_admin) { %>
   <p>Become a add <a href="/admin">admin</a> </p>
    <% } %>
   
  <% } %>
</section>
<section class="messages">
  <h3>Messages</h3>
  <% messages.forEach(msg => { %>
    <div class="message-card">
      <h4><%= msg.title %></h4>
      <p><%= msg.content %></p>
      <% if (currentUser && currentUser.id === msg.user_id) { %>
  <a href="/message/<%= msg.id %>/edit">Edit</a>
<% } %>
      <small>By <%= msg.username %> • <%= new Date(msg.created_at).toLocaleString() %></small>
    </div>
  <% }) %>
</section>


